<h1>New project</h1>
<%= form_for(@project) do |f| %>
  <%= form_errors_for @project %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit "Create", class: "btn btn-primary" %>
<% end %>